@model BayHelper.Com.Models.Event
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style = "text-align:center;">
    <h2>
        Create An Event</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <table style="margin: auto;">
            <tr>
                <td>
                    <h4>
                        Title:</h4>
                </td>
                <td>
                    @Html.EditorFor(model => model.Title, new { @style = "width:500px" })
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Description:</h4>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Description, new { @row = "4" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Start Date:</h4>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DateStarted)
                    @Html.ValidationMessageFor(model => model.DateStarted)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Status:</h4>
                </td>
                <td>
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Financial Needs:</h4>
                </td>
                <td>
                    @Html.EditorFor(model => model.FinanceGoal)
                    @Html.ValidationMessageFor(model => model.FinanceGoal)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Street Address 1:</h4>
                </td>
                <td>
                    @Html.EditorFor(model => model.Address.StreetAddress1)
                    @Html.ValidationMessageFor(model => model.Address.StreetAddress1)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Street Address 2:</h4>
                </td>
                <td>
                    @Html.EditorFor(model => model.Address.StreetAddress1)
                    @Html.ValidationMessageFor(model => model.Address.StreetAddress1)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        City:</h4>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Address.City)
                    @Html.ValidationMessageFor(m => m.Address.City)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        State:</h4>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Address.State)
                    @Html.ValidationMessageFor(m => m.Address.State)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Zip:</h4>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Address.Zip)
                    @Html.ValidationMessageFor(m => m.Address.Zip)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <div>
                            <input type="submit" value="Create" />
                </td>
                <td>
                </td>
            </tr>
        </table>
}
</div>
