@model BayHelper.Com.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">DateStarted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStarted)
    </div>

    <div class="display-label">DueDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">FinanceGoal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinanceGoal)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address.StreetAddress1)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.LastName)
    </div>f
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
