@model BayHelper.Com.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
<fieldset>

    <br /><br />
    <h1><div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
        <h3>Event Details:</h3>
    <br />
    <h4><div class="display-label">Description:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
        <br />
    <h4><div class="display-label">DateStarted:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStarted)
    </div>
        <br />
    <h4><div class="display-label">DueDate:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>
        <br />
    <h4><div class="display-label">Status:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
        <br />
    <h4><div class="display-label">Finance Goal:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinanceGoal)
    </div>
        <br />
    <h4><div class="display-label">Address:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address.StreetAddress1)
    </div>
        <br />
    <h4><div class="display-label">User:</div></h4>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.LastName)
    </div>
    <br />
</fieldset>
<p style="text-align:right;">
   @if (Model.Creator == BayHelper.Com.Models.WebProfile.Current.UserId)
   { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }, new { @class = "btn" }) <text>|</text>
   }
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn"})
</p>
</div>