@model BayHelper.Com.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2>
    Account Details
    @Html.ActionLink("Edit", "Edit", null, new { @class = "btn" })
</h2></center>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<table style="margin: auto;">
    <tr>
        <td>
            <h4>
                First Name:</h4>
        </td>
        <td>
            @Html.DisplayTextFor(model => model.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Last Name:</h4>
        </td>
        <td>
            @Html.DisplayTextFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Email:</h4>
        </td>
        <td>
            @Html.DisplayTextFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Rating:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Rating)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                DateRegistered:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.DateRegistered)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Organization User:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.OrganizationUser)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Street Address 1:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Address.StreetAddress1)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Street Address 2:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Address.StreetAddress2)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                City:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Address.City)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                State:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Address.State)
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Zip:</h4>
        </td>
        <td>
            @Html.LabelFor(model => model.Address.Zip)
        </td>
    </tr>
</table>


<div>
<center>
<br/>
<br/>
    @Html.ActionLink("Back to List", "Index")
</div>
</center>