@model IEnumerable<BayHelper.Com.Models.TimeDonation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Event
        </th>
        <th>
            User
        </th>
        <th>
            Amount
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeDonationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeDonationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeDonationID })
        </td>
    </tr>
}

</table>
